@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --bg: #f7f8fa;
  --fg: #0f172a;
}

html, body {
  background: var(--bg);
  color: var(--fg);
}

body {
  font-feature-settings: "cv11", "ss01";
  -webkit-font-smoothing: antialiased;
}
